html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.preloader {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #ffffff;
        overflow: hidden;
        z-index: 100;
      }
      .preloader .pre-container {
        position: absolute;
        left: 50%;
        top: 50%;
        bottom: auto;
        right: auto;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        text-align: center;
      }
      .preloader .logo-circle {
        position: relative;
        width: 60px;
        height: 60px;
        margin: 0 auto;
        background: #e30534;
        border-radius: 200px;
        margin-bottom: 2.2em;
        -webkit-animation: white-shadow 1s infinite;
        -moz-animation: white-shadow 1s infinite;
        -ms-animation: white-shadow 1s infinite;
        animation: white-shadow 1s infinite;
      }
.preloader .logo-circle svg {
	padding-top: 12px;
}
      .preloader .loading-text {
        font-family: 'Arial', sans-serif;
        font-size: 18px;
        color: rgba(255,255,255,0.6);
        text-shadow: 1px 1px 0 0 #000;
        margin-left: 10px;
      }
      @-webkit-keyframes white-shadow {
        0% {
          box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3);
          -webkit-transition: box-shadow 0.3s ease-in-out;
        }
        100% {
          box-shadow: 0 0 0 30px transparent;
          -webkit-transform: translate3d(0, 0, 0);
          -webkit-transition: box-shadow 0.4s ease-in-out;
        }
      }
      @-moz-keyframes white-shadow {
        0% {
          box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3);
          -moz-transition: box-shadow 0.3s ease-in-out;
        }
        100% {
          box-shadow: 0 0 0 30px transparent;
          -moz-transform: translate3d(0, 0, 0);
          -moz-transition: box-shadow 0.4s ease-in-out;
        }
      }
      @keyframes white-shadow {
        0% {
          box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3);
          -webkit-transition: box-shadow 0.3s ease-in-out;
          -moz-transition: box-shadow 0.3s ease-in-out;
          transition: box-shadow 0.3s ease-in-out;
        }
        100% {
          box-shadow: 0 0 0 30px transparent;
          -webkit-transform: translate3d(0, 0, 0);
          -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
          -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
          -webkit-transition: box-shadow 0.4s ease-in-out;
          -moz-transition: box-shadow 0.4s ease-in-out;
          transition: box-shadow 0.4s ease-in-out;
        }
      }
  